apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
namePrefix: dev-
labels:
  - pairs:
      env: dev
    includeSelectors: true
    includeTemplates: true
resources:
  - ../../base
patches:
  - path: patch-replicas.yaml
    target:
      kind: Deployment
      name: api-deployment
  - path: configmap-patch.yaml
    target:
      kind: ConfigMap
      name: app-config
images:
  - name: node:18-alpine
    newTag: 18-alpine
secretGenerator:
  - name: app-secret
    behavior: merge
    literals:
      - DB_PASSWORD=dev-password-123
      - API_KEY=dev-api-key-abc
