apiVersion: apps/v1
kind: Deployment
metadata:
  name: hmm-intresting
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hmm-intresting
  template:
    metadata:
      labels:
        app: hmm-intresting
    spec:
      volumes:
        - name: shared
          emptyDir:
            medium: Memory
            sizeLimit: "500Mi"
      containers:
        - image: nginx
          name: nginx
          volumeMounts:
          - name: shared
            mountPath: /usr/share/nginx/html
          ports:
          - containerPort: 80
        - image: badouralix/curl-jq
          name: curl
          volumeMounts:
          - name: shared
            mountPath: /cache
          command:
            - /bin/sh
            - -c 
            - |
              touch /cache/joke.json
              chmod 644 /cache/joke.json
              echo "[]" > /cache/joke.json
              
              while true; do
                JOKE=$(curl https://api.chucknorris.io/jokes/random)
                TMP=$(mktemp)
                jq ". + [$JOKE]" /cache/joke.json > $TMP && mv $TMP /cache/joke.json
                chmod 644 /cache/joke.json
                sleep 10
              done
---
apiVersion: v1
kind: Service
metadata:
  name: svch
spec:
  type: ClusterIP
  selector:
    app: hmm-intresting
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
