apiVersion: v1
kind: Pod
metadata:
  name: privileged-pod
spec:
  containers:
  - name: privileged-container
    image: ubuntu
    command: ["sleep", "infinity"]
    securityContext:
      privileged: true  # God mode enabled
      runAsUser: 0      # Run as root
    volumeMounts:
    - name: host-root
      mountPath: /host
  volumes:
  - name: host-root
    hostPath:
      path: /
      type: Directory
---
apiVersion: v1
kind: Pod
metadata:
  name: structure
  labels:
    app: structure
spec:
  volumes:
  - name: shared-host
    hostPath:
      path: /mnt/html
      type: DirectoryOrCreate
  containers:
  - name: busybox
    image: nginx
    volumeMounts:
    - name: shared-host
      mountPath: /usr/share/nginx/html
      readOnly: false
    ports:
    - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: structure
spec:
  type: ClusterIP
  selector:
    app: structure
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
