apiVersion: v1
kind: Pod 
metadata:
  name: downwardapi 
spec:
  containers:
    - name: api 
      image: busybox
      command: ["sleep", "3600"]
      volumeMounts:
        - name: details
          mountPath: /mnt/details
  volumes:
    - name: details
      downwardAPI:
        items:
          - path: "labels"
            fieldRef:
              fieldPath: metadata.labels
