apiVersion: v1
kind: Pod 
metadata:
  name: helium-34848
  labels:
    app: helium
spec:
  volumes:
    - name: podinfo
      downwardAPI:
        items:
          - path: "podinfo"
            fieldRef:
              fieldPath: metadata.labels
    - name: shared
      hostPath:
        path: /mnt/randomdir
        type: DirectoryOrCreate
  containers:
    - name: helium
      image: busybox
      env:
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
      command: 
        - "/bin/sh"
        - "-c"
        - |
          while true; do 
            echo "${POD_NAME} here main!" >> /mnt/data/log.txt;
            sleep 10;
          done
      volumeMounts:
        - name: shared
          mountPath: /mnt/data
---
apiVersion: v1
kind: Pod
metadata:
  name: lithium
spec:
  volumes:
  - name: shared
    hostPath:
      path: /mnt/randomdir
  containers:
  - name: lithium
    image: busybox
    command: 
      - "/bin/sh"
      - "-c"
      - |
          tail -f /mnt/randomdir/log.txt
    volumeMounts:
      - name: shared
        mountPath: /mnt/data




