apiVersion: v1
kind: PersistentVolume
metadata:
  name: my-pv 
spec:
  capacity:
    storage: 5Gi
  storageClassName: standard
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/data
  persistentVolumeReclaimPolicy: Delete
---
apiVersion: v1
kind: PersistentVolumeClaim 
metadata:
  name: helium-pvc 
spec:
  resources:
    requests:
      storage: 5Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
---
apiVersion: v1
kind: Pod 
metadata:
  name: nitrogen
spec:
  volumes:
    - name: shared
      persistentVolumeClaim:
        claimName: helium-pvc
  containers:
    - volumeMounts:
        - name: shared 
          mountPath: /mnt/path/random
      name: busybox
      image: busybox
      command:
        - "/bin/sh"
        - "-c"
        - |
          while true; do
            echo "ehllo mamisita!!" | tee /mnt/path/random/logs.txt
            sleep 30
          done
