apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

labels:
- includeSelectors: true
  pairs:
    env: production

namespace: prod
namePrefix: prod-

patches:
- path: patches.yaml
  target:
    name: node-api
    kind: Deployment
