apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
namePrefix: prod-
labels:
  - pairs:
      env: prod
    includeSelectors: true
    includeTemplates: true
resources:
  - ../../base
patches:
  - path: patch-replicas.yaml
    target:
      kind: Deployment
      name: api-deployment
  - path: configmap-patch.yaml
    target:
      kind: ConfigMap
      name: app-config
images:
  - name: node:18-alpine
    newTag: 18.20.0-alpine
  - name: redis:7-alpine
    newTag: 7.2.4-alpine
secretGenerator:
  - name: app-secret
    behavior: merge
    envs:
      - prod-secret.txt
