apiVersion: v1
kind: ConfigMap
metadata:
  name: entry-script
data:
  entrypoint.sh: |
    #!/bin/sh
    echo "Log Level: $LOG_LEVEL"
    echo "Starting app..."
    sleep 3600
---
apiVersion: v1
kind: Pod
metadata:
  name: script-runner
spec:
  containers:
    - name: app
      image: busybox
      command: ["/bin/sh", "/app/entrypoint.sh"]
      env:
        - name: LOG_LEVEL
          value: DEBUG
      volumeMounts:
        - name: script-vol
          mountPath: /app/entrypoint.sh
          subPath: entrypoint.sh
  volumes:
    - name: script-vol
      configMap:
        name: entry-script
  securityContext:
    fsGroup: 1000

