apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - redis-deployment.yaml
  - redis-service.yaml
  - secret.yaml
  - worker-deployment.yaml
  - demo-config.yaml
  - demo-deploy.yaml

replacements:
  - source:
      kind: ConfigMap
      name: demo-config
      fieldPath: data.color
    targets:
      - select:
          kind: Deployment
          name: demo-deploy
        fieldPaths:
          - spec.template.metadata.labels.color
