# traefik-values-fixed.yaml
providers:
  kubernetesGateway:
    enabled: true

logs:
  access:
    enabled: true

ports:
  web:
    port: 80
    exposedPort: 80
    protocol: TCP  # Use TCP instead of HTTP
    exposed: true

# Disable the auto gateway creation to avoid conflicts
gateway:
  enabled: false

additionalArguments:
  - "--entrypoints.web.address=:80"
