apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 3
  template:
    metadata:
      labels:
        env: prod
    spec:
      containers:
        - name: app
          image: nginx:1.25
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
