apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 1
  template:
    metadata:
      labels:
        env: dev
    spec:
      containers:
        - name: app
          image: nginx:1.25
          resources:
            limits:
              cpu: "250m"
              memory: "256Mi"
