{{ $base := . }}
{{ $labels := include "microservice.labels" . }}
{{ $extraLabels := include "microservice.extraLabels" . }}
{{ $fullname := include "microservice.fullname" . }}
{{- $microserviceChart := include "microservice.chart" . -}}
{{ range $serviceName, $service := .Values.services }}
{{ if $service.canary }}{{ else }}
{{ if and $service.enabled $service.deploymentName }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullname }}-{{ $serviceName }}
  namespace: {{ $base.Release.Namespace }}
  labels: {{ $extraLabels | nindent 4 }}{{ $labels | nindent 4 }}
  {{ if $service.annotations }}
  annotations: {{- toYaml $service.annotations | nindent 4 }}
  {{ end }}
spec:
  type: {{ $service.type | default "NodePort" }}
  {{ if and $service.headless (eq $service.type "ClusterIP") }}
  clusterIP: None
  {{ end }}
  selector: {{ $labels | nindent 4 }}
    app.kubernetes.io/component: {{ $service.deploymentName }}
  ports:
    - port: {{ $service.port | default 80 }}
      name: "http"
      targetPort: "http"
      protocol: TCP
    {{ range $service.extraPorts }}
    - port: {{ .port }}
      name: {{ .name }}
      targetPort: {{ .containerPort }}
      protocol: {{ .protocol }}
  {{ end }} {{ if $service.externalIPs }}
  externalIPs: {{- range $service.externalIPs }}
    - {{ . }}{{ end }}
  {{ end }}{{ end }}
{{ end }}
---
{{ end }}